.row-data {
  margin-top: 20px;
 margin-bottom: 10px;
  width: 100%;
  margin-left: 75px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.socialbtn{

margin-left:25vw;

justify-content: space-between;
align-content: space-between;

}
.data{
 padding-left: 10px;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #323232;
    font-size: 15px;
    font-weight: 400;
    place-content: center;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
  background-color:#fbfbfb;
  background-attachment:fixed;
  background-repeat:no-repeat;
  
  
  height:100%;
  
    
  }
  a{
    text-decoration: none;
  }
  .header{
      left: 0;
      right: 0;
      top: 0;
     background-color: #fbfbfb;
      height: 50px;
      width:100%;
      border-radius:0px 0px 10px 10px;
  
    z-index:99;
  
      position:fixed;
    
      
  border-bottom: 1px solid #d3d3d3;
  transition: top 0.6s;
  box-shadow:  10 10px 10px 0 gray;
  -moz-box-shadow:10 10px 10px 0 gray;
  -webkit-box-shadow:10 10px 10px 0 gray;
  -o-box-shadow: 10 10px 10px 0 gray;
  
  }
  
  .footer{
    position: absolute;
      left: 0;
      right: 0;
   bottom:0;  
      height: 50px;
      width:100%;
      background-color: #fbfbfb;
  border-radius:10px 10px 0px 0px;
  position: fixed;
    
  border-top: 1px solid #d3d3d3;
      transition: bottom 0.6s;
      box-shadow:  10 10px 10px 0 gray;
    -moz-box-shadow:10 10px 10px 0 gray;
    -webkit-box-shadow:10 10px 10px 0 gray;
    -o-box-shadow: 10 10px 10px 0 gray;
  
  }
  .fa-sun{
    display:block;
    position:absolute;
    color:#00c4cc;
    font-size:25px;
    margin-top:5px;
    margin-left:20px;
    }
  
  .img-responsive{
    border-radius: 10px ;
    top:10px;
    align-items: center;
    position: relative; 
  }
  
  
  
  
  /* Small devices (landscape phones, 576px and up)*/
  @media (min-width: 576px) {
    .header{
      position: absolute;
      left: 10%;
      right: 0;
      top: 0;
      background-color: #fbfbfb;
      height: 50px;
      width:75%;
      border-radius:0px 0px 10px 10px;
      
      z-index:99;
      position:fixed;
  
      
      
  border-bottom: 1px solid #d3d3d3;
  transition: top 0.6s;
  box-shadow:  10 10px 10px 0 gray;
  -moz-box-shadow:10 10px 10px 0 gray;
  -webkit-box-shadow:10 10px 10px 0 gray;
  -o-box-shadow: 10 10px 10px 0 gray;
  
      
    }
    .footer{
      position: absolute;
      left: 10%;
      right: 0;
      bottom:0;
      background-color: #fbfbfb;   
      height: 50px;
      width:75%;
     
  border-radius:10px 10px 0px 0px;
  position: fixed;
    
  border-top: 1px solid #d3d3d3;
      transition: bottom 0.6s;
      box-shadow:  10 10px 10px 0 gray;
    -moz-box-shadow:10 10px 10px 0 gray;
    -webkit-box-shadow:10 10px 10px 0 gray;
    -o-box-shadow: 10 10px 10px 0 gray;
  
      
    }
  
  }
  
  /* Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    
    .header{
      position: absolute;
      left:12%;
      right: 10%;
      top: 0;
      background-color: #fbfbfb;
      height: 50px;
      width:75%;
     border-radius:0px 0px 10px 10px;
      z-index:99;
      position:fixed;
        
      
  border-bottom: 1px solid #d3d3d3;
  transition: top 0.6s;
  box-shadow:  10 10px 10px 0 gray;
  -moz-box-shadow:10 10px 10px 0 gray;
  -webkit-box-shadow:10 10px 10px 0 gray;
  -o-box-shadow: 10 10px 10px 0 gray;
  }
   .footer{
    position: absolute;
    left:12%;
    right: 10%;
    bottom: 0;
    background-color: #fbfbfb;
  height: 50px;
  width:75%;
   
  border-radius:10px 10px 0px 0px;
  position: fixed;
    
  border-top: 1px solid #d3d3d3;
      transition: bottom 0.6s;
      box-shadow:  10 10px 10px 0 gray;
    -moz-box-shadow:10 10px 10px 0 gray;
    -webkit-box-shadow:10 10px 10px 0 gray;
    -o-box-shadow: 10 10px 10px 0 gray;
  }
  }
  
  
   /* Large devices (desktops, 992px and up) */
  
  @media (min-width: 992px) {
    #main{
      left:10;
    margin-top: 33px;
    }
    .header{
      position: absolute;
      left: 40%;
      right: 25%;
      bottom: 0;
      background-color: #fbfbfb;
        height: 50px;
        width:50.5%;
      border-radius:0px 0px 10px 10px;
        z-index:99;
        position:fixed;
       
      
  border-bottom: 1px solid #d3d3d3;
  transition: top 0.6s;
  box-shadow:  10 10px 10px 0 gray;
  -moz-box-shadow:10 10px 10px 0 gray;
  -webkit-box-shadow:10 10px 10px 0 gray;
  -o-box-shadow: 10 10px 10px 0 gray;
  
    }
  
    .footer{
      position: absolute;
      left: 40%;
      right: 25%;
      bottom: 0;
      background-color: #fbfbfb;
        height: 50px;
        width:50%;
  
      border-radius:10px 10px 0px 0px;
      position: fixed;
        
      border-top: 1px solid #d3d3d3;
          transition: bottom 0.6s;
          box-shadow:  10 10px 10px 0 gray;
        -moz-box-shadow:10 10px 10px 0 gray;
        -webkit-box-shadow:10 10px 10px 0 gray;
        -o-box-shadow: 10 10px 10px 0 gray;
        }
  
  
  
  
  }
  
  /* Extra large devices (large desktops, 1200px and up)*/
  @media (min-width: 1200px) {
    
    .header{
      position: absolute;
      left: 17%;
      right: 20%;
      top: 0;
      background-color: #fbfbfb;
      height: 50px;
      width:65%;
      border-radius:0px 0px 10px 10px;
      border-color: turquoise;
      position:fixed;
        
      
  border-bottom: 1px solid #d3d3d3;
  transition: top 0.6s;
  box-shadow:  10 10px 10px 0 gray;
  -moz-box-shadow:10 10px 10px 0 gray;
  -webkit-box-shadow:10 10px 10px 0 gray;
  -o-box-shadow: 10 10px 10px 0 gray;
  
    }
  
   .footer{
      position: absolute;
      left: 17%;
      right: 20%;
   bottom: 0;
   background-color: #fbfbfb;
      height: 50px;
      width:65%;
  
    border-radius:10px 10px 0px 0px;
    position: fixed;
      
    border-top: 1px solid #d3d3d3;
        transition: bottom 0.6s;
        box-shadow:  10 10px 10px 0 gray;
      -moz-box-shadow:10 10px 10px 0 gray;
      -webkit-box-shadow:10 10px 10px 0 gray;
      -o-box-shadow: 10 10px 10px 0 gray;
      }
  
   }
   
  